* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main .info-contact p,
main .info-contact h1,
main .formular-contact h2 {
  text-align: left;
  margin-left: 20px;
}

main .linie #contact-nume,
#contact-prenume,
#contact-email,
#contact-telefon,
#contact-subiect1,
#contact-mesaj {
  height: 30px;
  margin-left: 20px;
}

main .linie {
  display: flex;
  flex-direction: column;
}
main .linie .input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main .linie input[type='text'],
select {
  margin-left: 20px;
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
}

main .linie input[type='mesaj'] {
  margin-left: 20px;
  width: 50%;
  padding: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
}

main .buton-formular {
  background-color: rgb(143, 255, 152);
  width: 50%;
  color: black;
  padding: 14px 10px;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 20px;
  outline: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

main .buton-formular:hover {
  background-color: green;
}

@media screen and (max-width: 700px) {
  main .formular-contact #contact-nume[type='text'],
  main .formular-contact #contact-prenume[type='text'],
  main .formular-contact #contact-email[type='text'],
  main .formular-contact #contact-telefon[type='text'],
  main .formular-contact #contact-subiect,
  main .formular-contact #contact-mesaj[type='mesaj'] {
    width: 90%;
  }
  main .formular-contact .buton-formular {
    width: 90%;
  }
}
