* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}
main h1 {
  font-size: 2rem;
  text-align: center;
}
main p {
  margin-left: 4vw;
  font-size: 1.2rem;
}
main .logout {
  background-color: rgb(250, 128, 128);
  width: 10%;
  height: 31px;
  color: black;
  margin-top: 5px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  border: none;
  display: block;
  margin-left: 4vw;
}
.administrare {
  display: flex;
  flex-direction: row;
  margin-left: 20vw;
  margin-right: 20vw;
  align-content: center;
}
.administrare-utilizatori h2,
.administrare-produse h3 {
  font-size: 1rem;
  text-align: center;
}
.administrare-utilizatori,
.administrare-produse {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.8rem;
}
.administrare-utilizatori a,
.administrare-produse a {
  background-color: rgb(100, 98, 98);
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 4px 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.administrare .line {
  border-left: 6px solid black;
  height: 300px;
}


@media screen and (max-width: 700px) {
  main .administrare {
    display: flex;
    flex-direction: column;
  }
  main .administrare .line {
    display: none;
  }
  .input-id input[type='text'] {
    height: 5vh;
    width: 70%;
    align-self: center;
  }
  .administrare .modal-content {
    width: 70%;
  }
}
