* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  margin: 0;
}

main {
  flex-direction: row;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.tabel {
  width: 75%;
}
.tabel th {
  font-size: 1.5rem;
}
.tabel .sterge-produs {
  width: 5%;
}
.tabel .buton-stergere {
  font-size: 0.7rem;
  background-color: black;
  color:white;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: 0;
  width: 100%;
}
.tabel .articol {
  width: 25%;
}
.tabel .descriere {
  width: 35%;
}
.tabel .cantitate {
  width: 10%;
}
.tabel .pret {
  width: 10%;
}
.tabel .total {
  width: 10%;
}
.totalFinal {
  width: 25%;
  height: 200px;
  border: 2px solid #000000;
  margin-top: 10px;
}
.tabel td {
  text-align: center;
}
.tabel #produs {
  width: 50%;
}
