* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  margin: 0;
}

main {
  flex-direction: column;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cos {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.titlu {
  height: 50px;
  padding: 20px 30px;
  color: black;
  font-size: 30px;
}

.cos .imagine-produs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cos .imagine-produs .produs1 .p1 {
  height: 360px;
  width: 250px;
  margin-left: 30px;
}
.cos .imagine-produs .detalii-p1 #titlu-p1 {
  font-size: 20px;
  margin-left: 10px;
}

.cos .imagine-produs .detalii-p1 {
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
}

main .tabel-cos > tbody > tr > td,
.tabel-cos > tfoot > tr > td {
  vertical-align: middle;
  text-align: center;
}
main .tabel-cos {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.tabel-cos tfoot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}
.tabel-cos tfoot tr .total {
  font-size: 30px;
}
tr td .linie1 .produs1 img {
  width: 25%;
}
tr td .descriere-produs1 .titlu-produs1 {
  font-size: 20px;
}
tr td .descriere-produs1 p {
  font-size: 15px;
}
tr td .buton-stergere img {
  height: 30px;
}

tfoot {
  margin-left: 40px;
}

main .butoane {
  flex-direction: row;
  width: 100%;
  display: flex;
}

main .butoane .butoaneSt,
main .butoane .butoaneDr {
  width: 50%;
}

main .butoane .butoaneSt #Continua-cump {
  background-color: rgb(143, 255, 152);
  width: 30%;
  color: black;
  padding: 14px 10px;
  text-decoration: none;
  margin-top: 40px;
  margin-left: 40px;
  border: none;
  align-self: center;
  outline: none;
  cursor: pointer;
  font-size: 15px;
}

main .butoane .butoaneDr #Comanda {
  background-color: rgb(250, 128, 128);
  width: 30%;
  font-size: 15px;
  color: black;
  padding: 14px 10px;
  text-decoration: none;
  margin-top: 40px;
  outline: none;
  border: none;
  align-self: center;
  cursor: pointer;
  margin-left: 450px;
}

main .butoane .butoaneSt :hover {
  background-color: green;
}

main .butoane .butoaneDr :hover {
  background-color: red;
}
@media screen and (max-width: 800px) {
  main .butoane {
    flex-direction: column;
    align-items: center;
    margin-left: 0 px;
  }

  main .butoane .butoaneSt #Continua-cump {
    margin-left: 0px;
    width: 90%;
  }

  main .butoane .butoaneDr #Comanda {
    margin-left: 0px;
    width: 90%;
  }

  .tabel-cos tfoot tr {
    flex-direction: column;
    width: 100%;
  }
  .tabel-cos td {
    flex-direction: column;
    width: 100%;
  }
  .tabel-cos tbody td .cantitate1 {
    display: inline;
  }
  .tabel-cos thead {
    display: none;
  }
  .tabel-cos tbody td {
    display: block;
    padding: 10px;
    min-width: 320px;
  }
  .tabel-cos tbody .subtotal {
    display: none;
  }
  .tabel-cos tfoot {
    display: inline;
    flex-direction: column;
  }
}
