* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}
.main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-dreapta {
  width: 40%;
}
.main-stanga {
  display: block;
  width: 60%;
}

main h1 {
  font-size: 40px;
  margin-left: 30px;
}

.main .main-stanga .metoda-livrare p {
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.main .main-stanga #register1,
#register2,
#adresa,
#tara,
#email,
#oras {
  height: 30px;
  margin-left: 30px;
}
.main .main-stanga .linie .input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main .main-stanga .linie input[type='text'] {
  width: 60%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 30px;
  display: block;
  border: none;
  border-bottom: 1px solid rgb(170, 167, 167);
  padding: 10px;
}
.main .main-stanga .metoda-plata {
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.main .main-stanga .butoane {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main .main-stanga .butoane .buton-continua {
  background-color: black;
  width: 25%;
  color: white;
  padding: 14px 10px;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  font-size: 15px;
  margin-bottom: 20px;
}
.main .main-stanga .butoane .buton-renunta {
  background-color: rgb(250, 128, 128);
  width: 25%;
  color: black;
  padding: 14px 10px;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.main .main-stanga .buton-inregistrare:hover {
  background-color: green;
}

.main .main-stanga .neccessary {
  color: red;
}

.main .main-stanga .error {
  color: red;
  margin-left: 20px;
}
.main .main-dreapta {
  margin-top: 0vh;
}

.main .main-dreapta .articol {
  width: 20%;
}
.main .main-dreapta .detalii {
  width: 80%;
  font-size: 0.7rem;
}

.main-dreapta #produs {
  width: 70%;
}
.main-dreapta .detalii-produs,
.main-dreapta .total-comanda {
  display: flex;
  flex-direction: column;
}
.main .main-dreapta .tabel #mesaj-comanda {
  font-size: 1.2rem;
}
@media screen and (max-width: 700px) {
  .main {
    flex-direction: column;
    width: 100%;
    margin-left: 2px;
  }

  .main .main-stanga .linie input[type='text'] {
    width: 98%;
    margin-left: 5px;
  }
  .main .main-stanga #register1,
  #register2,
  #adresa,
  #tara,
  #email,
  #oras {
    height: 30px;
    margin-left: 5px;
  }
  .main .main-stanga .metoda-plata {
    margin-left: 5px;
  }
  .main .main-stanga .butoane {
    display: flex;
    flex-direction: column;
  }
  .main .main-stanga .butoane .buton-renunta {
    width: 98%;
    margin-left: 5px;
  }
  .main .main-stanga .butoane .buton-continua {
    width: 98%;
    margin-left: 5px;
  }
  .main .main-dreapta,
  .main .main-stanga {
    width: 100%;
  }
}
