* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}
main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .main-stanga{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-stanga {
  width: 45%;
  justify-content: space-around;
}
main .main-stanga h1 {
  font-size: 35px;
  margin-left: 40px;
}
main .main-stanga .metoda-livrare {
  margin-left: 40px;
  margin-top: 0;
  margin-right: 15px;
  flex-direction: row;
  flex-wrap: wrap;
}

main .main-stanga #contNume,
#contPrenume,
#email,
#adresa,
#oras,
#tara {
  height: 20px;
  margin-left: 40px;
}

main .main-stanga input[type='text'] {
  margin-left: 40px;
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
}
main .main-stanga #inapoi-la-cos {
  background-color: rgb(143, 255, 152);
  width: 50%;
  color: black;
  padding: 14px 10px;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 40px;
  outline: none;
  cursor: pointer;
  border: none;
}
main .main-stanga .input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main .main-stanga #inapoi-la-cos:hover {
  background-color: green;
}

@media screen and (max-width: 800px) {

  .main-stanga {
    flex-direction: column;
    width: 100%;
  }

  main .main-stanga input[type='text'] {
    width: 90%;
    margin-left: 0px;
    align-self: center;
  }


  main .main-stanga #inapoi-la-cos {
    width: 90%;
    margin-left: 0px;
    align-self: center;
  }

  main .main-stanga .metoda-livrare {
    margin-left: 0px;
    align-self: center;
  }

  main .main-stanga #contNume,
  #contPrenume,
  #email,
  #adresa,
  #oras,
  #tara {
    margin-left: 20px;
  }

  main .main-stanga h1 {
    margin-left: 0px;
    text-align: center;
  }

}
