* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  margin: 0;
}

main {
  flex-direction: column;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.titlu h1 {
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.continua-cumparaturi {
  width: 17%;
  font-size: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: 0;
  height: 5vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
}
.body {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.tabel {
  width: 75%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid white;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
.tabel tr:nth-child(even) {
  background-color:#f2f2f2;
}
.tabel th {
  font-size: 1rem;
}

.tabel .x-sterge {
  font-size: 0.7rem;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 0px 2px;
}

.tabel .articol {
  width: 20%;
}
.tabel .denumire {
  width: 25%;
}
.tabel .marime {
  width: 10%;
}
.tabel .cantitate {
  width: 15%;
}
.tabel .pret {
  width: 10%;
}
.tabel .subtotal {
  width: 10%;
}
.tabel .sterge-produs {
  width: 10%;
}

.totalFinal {
  width: 20%;
  height: 50vh;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 3vw;
}
.totalFinal p {
  font-size: 0.8rem;
  margin-left: 1vw;
}
.totalFinal #finalizare-comanda {
  font-size: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: 0;
  width: 90%;
  height: 5vh;
  margin-bottom: 5vh;
  align-self: center;
  margin-left: 1vw;
}
.cart-dreapta .continua-cumparaturi {
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: 0;
  width: 80%;
  height: 5vh;
  margin-left: 4vw;
  margin-top: 3vh;
  font-size: 0.9rem;
}
.tabel td {
  text-align: center;
}
.tabel #produs {
  width: 30%;
}
.tabel td .cantitate p {
  width: 40%;
}
.tabel td .cantitate {
  display: flex;
  flex-direction: column;
}

.tabel .butonPlus,
.butonMinus {
  width: 20%;
  text-align: center;
  font-size: 0.7rem;
}
@media screen and (max-width: 1800px) {
  .totalFinal {
    height: 20vh;
  }
  .totalFinal #finalizare-comanda {
    height: 4vh;
  }
  .continua-cumparaturi {
    width: 25vw;
    height: 5vh;
  }
}
@media screen and (max-width: 1050px) {
  .totalFinal {
    height: 30vh;
  }
  .totalFinal #finalizare-comanda {
    height: 5vh;
  }
}
@media screen and (max-width: 800px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .titlu h1 {
    font-size: 1rem;
  }
  .tabel {
    width: 100%;
    margin-left: 0px;
  }
  .continua-cumparaturi {
    width: 40%;
    height: 5vh;
  }
  .body {
    display: flex;
    flex-direction: column;
  }
  .totalFinal {
    height: 40vh;
    width: 40%;
    margin-bottom: 5vh;
    margin-left: 1vw;
  }
  .totalFinal #finalizare-comanda {
    height: 4vh;
  }
  .totalFinal p {
    font-size: 0.8rem;
  }
  .totalFinal #finalizare-comanda {
    width: 80%;
    margin-left: 1vw;
  }

  .tabel th,
  td {
    font-size: 15px;
  }
  .tabel .x-sterge {
    padding: 0px 2px;
    font-size: 10px;
    text-align: center;
  }
  .tabel #produs {
    width: 100%;
  }
}

@media screen and (max-width: 710px) {
  .tabel .cantitate .butonMinus,
  .butonPlus {
    display: none;
    width: 80%;
  }
  .continua-cumparaturi {
    width: 40%;
    height: 5vh;
  }
  .body {
    display: flex;
    flex-direction: column;
  }
  .tabel input {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .tabel th,
  td {
    font-size: 12px;
  }
  .continua-cumparaturi {
    width: 80%;
    align-self: center;
  }
  .totalFinal {
    width: 97%;
    height: 27vh;
  }
}
