main {
  width: 10%;
}
.colors,
.price,
.size {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.colors h1,
.price h3,
.fabrics h2 ,
.size h4{
  align-self: left;
  text-align: left;
  font-size: 15px;
  margin-left: 5px;
  font-family: Noto Sans KR;
}
.colors .icons-colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.colors .icons-colors img {
  width: 40px;
  height: 40px;
}

.fabrics,
.check-fabrics,
.check-price,
.check-size {
  display: flex;
  flex-direction: column;
  font-family: Noto Sans KR;
}
