* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  margin: 0;
}
main {
  width: 100%;
  display: block;
  margin-bottom: 0px;
}
main h2 {
  font-size: 35px;
  margin-left: 40px;
}
main .linie {
  display: flex;
  flex-direction: column;
}
main input[type='text'] {
  margin-left: 40px;
  width: 50%;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 5px;
}
main label {
  height: 20px;
  margin-left: 40px;
}
main .metoda-plata {
  margin-left: 40px;
  margin-top: 0;
  margin-right: 15px;
  flex-direction: row;
  flex-wrap: wrap;
}
main #plaseaza-comanda {
  background-color: rgb(143, 255, 152);
  width: 50%;
  color: black;
  padding: 14px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 40px;
  outline: none;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}

main #plaseaza-comanda:hover {
  background-color: green;
}

@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
    width: 100%;
  }
  main input[type='text'] {
    width: 90%;
    margin-left: 10px;
  }
  main label {
    margin-left: 10px;
  }
  main #plaseaza-comanda {
    margin-left: 10px;
    width: 90%;
  }
}
