* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  margin: 0;
}

main {
  flex-direction: column;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main h1 {
  text-align: center;
  font-size: 2rem;
}

table {
  width: 85%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
  margin-bottom: 20px;
  margin-top: 20px;
  align-self: center;
  font-size: 1rem;
}
table .idProdus,
table .sterge {
  width: 5%;
  text-align: center;
}
table .imagine {
  width: 20%;
}
table .denumire {
  width: 35%;
}
table .material {
  width: 15%;
}
table .pret {
  width: 10%;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table #produs {
  width: 35%;
}
table #stergere-produs {
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: 0;
  width: 90%;
  height: 4vh;
  font-size: 0.7rem;
}
.paginare
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.paginare .pagina{
  text-align: center;
  font-family: arial;
  padding: 6px;
  background-color: #d8d3d3;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: black;
  margin-left: 1vw;
  font-size: 0.8rem;
}


@media screen and (max-width: 700px) {
  main {
    flex-direction: column;
    width: 100%;
    display: flex;
  }
  main table {
    width: 100%;
    font-size: 0.7rem;
  }
  table .imagine {
    width: 15%;
  }
  table #produs {
    width: 100%;
  }
  table #stergere-produs {
    width: 90%;
    font-size: 0.5rem;
  }
  .paginare{
   justify-content: left;
  }
  .pagina{
    padding: 4px;
    margin-bottom: 1vh;
  }
}
