* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0px;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main h1 {
  text-align: center;
  font-size: 1.5rem;
}
main #piechart {
  width: 100%;
  height: 500px;
  float: left;
  position: static;
}
main #chart_div {
  width: 100%;
  height: 500px;
}
main #regions_div {
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.csv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.csv #exportAsCsv {
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  width: 20%;
  height: 6vh;
  font-size: 0.8rem;
  margin-bottom: 4vh;
  margin-top: 5vh;
}
main #save-pdf {
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  width: 20%;
  height: 6vh;
  font-size: 0.8rem;
  margin-bottom: 4vh;
  align-self: center;
}
main #save-pdf:hover,
main #exportAsCsv:hover{
  font-size: 1rem;

}
@media screen and (max-width: 700px) {
  main #piechart {
    width: 100%;
    height: 400px;
    margin-left: 0vw;
    float: left;
    position: static;
  }
}
@media screen and (max-width: 500px) {
  main #piechart {
    width: 100%;
    height: 150px;
    margin-left: 0vw;
    float: left;
  }
}
