* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
main .favorite {
  flex-direction: row;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

main .favorite a {
  font: bold;
  font-size: 35px;
  text-align: center;
}
main .favorite #inima-favorite {
  height: 25px;
  margin-right: 5px;
}
main p {
  display: flex;
  flex-direction: column;
  font: normal;
  font-size: 15px;
  align-self: center;
  text-align: center;
}
main #catre-logare {
  background-color: rgb(143, 255, 152);
  width: 35%;
  color: black;
  padding: 14px 10px;
  text-decoration: none;
  margin-top: 30px;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  border: none;
  align-self: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
    flex-wrap: wrap;
  }

  main #catre-logare {
    width: 90%;
  }
}
