* {
  box-sizing: border-box;
}

body {
  font-family: Pacifico;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
main h1 {
  font-size: 0.8rem;
  text-align: center;
  font: bold;
}
.produse-favorite {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}
.produse-favorite .imagine-produs {
  width: 30%;
}
.imagine-produs #produs {
  margin-top: 20px;
  width: 45%;
  height: auto;
  margin-left: 8vw;
}
.produse-favorite .detalii-produs,
.produse-favorite .adauga-produs {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 10px;
}
.detalii-produs h1 {
  font-size: 1rem;
  font-family: Pacifico;
}
.adauga-produs .sterge-produs {
  margin-top: 40px;
  color: red;
  font-size: 0.8rem;
}
.adauga-produs a {
  font-size: 0.8rem;
}
.adauga-produs .stock {
  margin-top: 20px;
  color: green;
  font-size: 0.8rem;
}
.adauga-produs .adauga-in-cos {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: 0;
  width: 50%;
  height: 50px;
  margin-top: 30px;
}
@media screen and (max-width: 1000px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .produse-favorite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .produse-favorite .imagine-produs #produs {
    margin-top: 20px;
    width: 70%;
    height: auto;
    margin-left: 2vw;
  }
  .produse-favorite .detalii-produs h1 {
    font-size: 0.8 rem;
  }
}
@media screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .produse-favorite {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .produse-favorite .imagine-produs,
  .produse-favorite .detalii-produs,
  .produse-favorite .adauga-produs {
    width: 100%;
  }
  .produse-favorite .imagine-produs #produs {
    margin-top: 20px;
    width: 70%;
    height: auto;
    margin-left: 15vw;
  }
  .produse-favorite .detalii-produs h2,a{
    text-align: center;
  }
  .produse-favorite .adauga-produs a,p{
    text-align: center;
  }
  .adauga-produs .adauga-in-cos{
      width: 90%;
      margin-left: 4vw;
  }
  .produse-favorite {
    margin-bottom: 100px;
  }
}
