* {
  box-sizing: border-box;
}

body {
  font-family: Pacifico;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.main h1 {
  font-size: 2rem;
  text-align: center;
  font: bold;
}

table .articol,
.add {
  width: 30%;
}
table .detalii {
  width: 40%;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#produs {
  margin-top: 20px;
  width: 45%;
  height: auto;
  margin-left: 3vw;
}
.detalii-produs {
  display: flex;
  flex-direction: column;
}
.detalii-produs h2 {
  font-size: 1rem;
  font-family: Pacifico;
}
.stergere .sterge-produs {
  margin-top: 10px;
  color: red;
  font-size: 1rem;
}
.stergere {
  display: flex;
  flex-direction: column;
}
.stergere a {
  font-size: 1rem;
}
.stergere .stock {
  margin-top: 20px;
  color: green;
  font-size: 0.8rem;
}
.stergere .adauga-in-cos {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: 0;
  width: 50%;
  height: 50px;
  margin-top: 30px;
}
@media screen and (max-width: 700px) {
  #produs {
    width: 70%;
    align-self: center;
  }
  .detalii-produs p,
  a {
    font-size: 0.8rem;
  }
  .stergere a,p{
    font-size: 0.8rem;
  }
  .stergere .adauga-in-cos{
    width: 100%;
    font-size: 0.7rem ;
    margin-top: 10px;
    height: 20px;
  }
  .stergere .sterge-produs {
    margin-top: 10px;
    color: red;
    font-size: 0.6rem;
  }
}
