* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  margin: 0;
}

main {
  flex-direction: column;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.titlu h1 {
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.continua-cumparaturi {
  width: 30%;
  font-size: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: 0;
  height: 5vh;
  margin-bottom: 1vh;
  margin-left: 2.5vw;
}
.tabel {
  width: 95%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid white;
  margin-bottom: 20px;
  margin-top: 20px;
  align-self: center;
}
.tabel tr:nth-child(even) {
  background-color: #f2f2f2;
}
.tabel th {
  font-size: 1rem;
}

.tabel .articol {
  width: 33%;
}
.tabel .detalii {
  width: 33%;
}
.tabel .add {
  width: 33%;
}

.tabel td {
  text-align: center;
}
.tabel #produs {
  width: 40%;
}
.tabel .coloana-detalii{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  margin-left: 1vw;
}
.tabel .coloana-detalii h2{
  font-size: 1.2rem;
}
.tabel .coloana-detalii a{
  font-size: 1rem;
}

.tabel .coloana-stergere .sterge-produs{
color:red;
}
.tabel .coloana-stergere .stock{
  color:green;
}
.tabel .coloana-stergere .adauga-in-cos{
  width: 50%;
  font-size: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: 0;
  height: 5vh;
  margin-left: 1vw;
}
.coloana-stergere a,p{
  font-size: 1rem;
}

@media screen and (max-width: 915px) {
  .tabel .coloana-stergere .adauga-in-cos{
    height: 7vh;
  }
  
}
@media screen and (max-width: 800px) {
  .tabel .coloana-stergere .adauga-in-cos{
    height: 6vh;
    font-size: 0.8rem;
  }
  .tabel #produs{
    width: 60%;
  }
  .continua-cumparaturi{
    font-size: 0.8rem;
  }
  .tabel th {
    font-size: 0.8rem;
  }
  .tabel .coloana-detalii h2{
    font-size: 1rem;
  }
  .tabel .coloana-detalii a{
    font-size: 0.8rem;
  }
  .tabel .coloana-stergere .sterge-produs,
  .tabel .coloana-stergere a,
  .tabel .coloana-stergere p,
  .tabel .coloana-stergere .stock{
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 500px){
  .continua-cumparaturi{
    font-size: 0.8rem;
    height: 6vh;
  }
  .tabel .coloana-detalii h2{
    font-size: 0.8rem;
  }
  .tabel .coloana-detalii a{
    font-size: 0.7rem;
  }
  .tabel .coloana-stergere .sterge-produs,
  .tabel .coloana-stergere a,
  .tabel .coloana-stergere p,
  .tabel .coloana-stergere .stock{
    font-size: 0.7rem;
  }
  .tabel .coloana-stergere .adauga-in-cos{
    font-size: 0.7rem;
    width: 80%;
  }
  .tabel #produs{
    width: 80%;
  }
}
