* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header{
  width:100%;
}

header,.logo-nume{
    top:0;
    height: 50px;
}
header,.logo{
    top:0;
    height: 50px;
}
.header,.logo-favorite
{
    position: absolute;
    font-size: 0;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 15px;
    right:70px;
}

.logo-cos
{
  position: absolute;
  font-size: 0;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 15px;
  right:7px;
}

.logo-cont
{
  position: absolute;
  font-size: 0;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 15px;
  right:130px;
}

.logo-nume
{
  position: relative;
  font-size: 0;
  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 15px;
  left:0px;
} 

header .header-right{
  width: 50%;
  margin-top:5px;
}
header .header-left{
  width: 50%;
  margin-top:5px;
}


.navbar {
  background-color:rgb(243, 199, 255);
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.navbar a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
 
.navbar  a:hover {
  background-color:rgb(250, 232, 255);
  color: black;
}


.navbar form input{
  align-self: flex-start;
  margin-top: 10px;
  padding: 5px 15px;
}
  
input {
  align-self: flex-start;
}

input[type="submit"] {
  margin-left: 0px;
  background:black;
  border: 0;
  color: white;
}

main{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  align-content: center;
  justify-content: space-around;
}

main .main-dreapta{
  width: 45%;
  flex-wrap: wrap;
  flex-direction: row;
}

main .main-stanga{
  width: 45%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

main .main-stanga h1{
  font-size: 50px;
  text-align:center;
}

.main-stanga .inregistrare-register img,
.main-stanga .inregistrare-email img, 
.main-stanga .inregistrare-parola img{
  width: 50px;
} 

.main-stanga .input-register,
.main-stanga .input-email,
.main-stanga .input-parola
{
  width: 70%;
  font-size: 30px;
}

.main-stanga  .buton-stanga{
  background-color: rgb(140, 21, 161);
  color: white;
  font-size: 35px;
  cursor: pointer;
  align-self: flex-start;
  opacity: 0.9;
  margin-top: 10px;
  width:80%;
}

.main-stanga .buton-stanga:hover{
  opacity: 1;
}
   /*partea dreapta*/
.main-dreapta h2{
  text-align:center;
  font-size:50px;
}
   
.main-dreapta .logare-register img,
.main-dreapta .logare-parola img{
  width: 50px;
  align-self: center;
} 

.main-dreapta .logare-register .input-d-register,
.main-dreapta .logare-parola .input-d-parola {
  width: 70%;
  font-size: 30px;
}

.main-dreapta  .buton-dreapta{
  background-color: rgb(140, 21, 161);
  color: white;
  font-size: 35px;
  cursor: pointer;
  align-self: center;
  opacity: 0.9;
  margin-top: 10px;
  box-sizing: border-box;
  width: 80%;
}

.main-dreapta .buton-dreapta:hover{
  opacity: 1;
}

.footer{
    background-color: rgb(236, 193, 248);
    text-align: left;
    width:100%;
    font: bold 16px sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-top:20px;
    justify-content: space-between;
  }
  
  .footer .footer-stanga, 
  .footer .footer-dreapta,
  .footer .footer-centru{
    display: flex;
    flex-direction: column;
  }
  
  .footer .footer-stanga
  {
    width:35%;
  }
  
  .footer-stanga #logo{
    width: 100px;
  }
  
  .footer-stanga #logo-nume{
    width: 300px;
   
  }
  
  .footer .footer-links a{
    color:black;
    font-size:25px;
  }
  
  .footer .nume-companie{
  
    font-size: 20px;
  }
  
  .footer .footer-centru{
    width: 35%;
    margin-top:25px;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    
  }
  .footer .footer-centru .locatie img{
    width: 35px;
  }
  
  .footer .footer-centru .locatie p{
    align-self: left;
    font: bold sans-serif;
  }
  
  .footer .footer-centru .telefon img{
    width: 35px;
  }
  
  .footer .footer-centru .telefon p{
    text-align: left;
    font: bold sans-serif;
  }
  
  .footer .footer-centru .mail img{
    width: 35px;
  }
  
  .footer .footer-centru .mail p{
    text-align: left;
    font: bold sans-serif;
  }
  
  .footer .footer-dreapta {
    align-items: center;
    width: 25%;
    margin-top: 5px;
  }
  
  .footer .footer-dreapta p{
    text-align: center;
    color: black;}
  
  .footer .footer-dreapta .footer-icons #facebook{
    width: 35px;
  
  }
  .footer .footer-dreapta .footer-icons #instagram{
    width: 35px;
   
  }
  .footer .footer-dreapta .footer-icons #git{
    width: 35px;
    
  }
  .footer .footer-dreapta .footer-icons #youtube{
    width: 35px;
  
  }
  
  @media screen and (max-width: 700px)
   {
    header .logo-nume{
      display:none;
  
    }
   .navbar{   
      flex-direction: column;
      width: 100%;
    }
   .navbar form input[type="search"] {
    margin-left:50px;
     }
    main{
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      width:100%;
    }
    main .main-dreapta,
    main .main-stanga{
      text-align:center;
      align-items: center;
      width:100%
    }
    .footer{
      font:bold 15px sans-serif;
    }
    .footer .footer-stanga,
    .footer .footer-dreapta,
    .footer .footer-centru{
      flex-direction: column;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
      align-items: center;
  
    } 
  }